<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>
<!--Material textarea-->
<div class="md-form mb-2 pink-textarea active-pink-textarea">
  <textarea id="form18" class="md-textarea form-control" rows="3" [(ngModel)] = 'val'></textarea>
  <label for="form18">Enter the text in English</label>
</div>

<!--Basic textarea-->
<div class="md-form mb-4 pink-textarea active-pink-textarea-2">
  <textarea id="form17" class="md-textarea form-control" rows="3" placeholder="{{val}}"></textarea>
  <label for="form17">Kiswahili</label>
</div>


